[Unit]
Description=SOCAT server for LDG-1000 tuner
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/scripts/socat_tuner.sh
Restart=always

[Install]
WantedBy=default.target
