[Unit]
Description=SOCAT server for LDG-1000 tuner
After=network.target

[Service]
Type=simple
User=nobody
Group=dialout
ExecStart=/usr/local/scripts/socat_tuner.sh
RuntimeDirectory=socat_tuner
Restart=always

[Install]
WantedBy=default.target
